@charset "utf-8";
/* CSS Document */

* {
margin:0;
padding:0;
}

html{
	font-family: 'Noto Serif', serif;
	background:url("../images/light blue geometric.png");
}

div
{
background:url("../images/light blue leaf.png");
background-size:850px 850px;
background-repeat: repeat;
}

ul
{
list-style: none;
} 

h1 {
font-family: 'Noto Serif', serif;
color: #00000;
}

h2 {
font-family: 'Noto Serif', serif;
color: #00000;
}

h3 {
font-family: 'Noto Serif', serif;
color: #00000;
}

p{
font-family: Verdana, sans-serif;
font-size: 16px;
line-height:1.25em;
margin-bottom: 1em;
}


/* the main shell holding all div tags */
#wrapper {
width: 755px;
position:relative;
margin: auto;
background-color: #802A00;
}
/* top navigation div */
#navcontainer ul {
background-color: #802A00;

float: left;
width: 100%;
padding-right: 32px; 
/* bullets are included in the padding area */
/* removing bullets requires padding to be added at the right */
padding: 0; /* duplicates the default above, but fixes issues with Safari and IE */
margin: 0; /* duplicates the default above, but fixes issues with Safari and IE */
}
#navcontainer ul li { /* inline keeps layout horizontal */
display: inline;
}

#navcontainer ul li a {
padding: 0.2em 1em;
text-decoration: none;
float: left;
border-right: 1px solid #000000;
color: #000000;
}
/* change the background-color to be #369 */
#navcontainer ul li a:hover { /* controls the over or hover state of rollover */
background-color: #000000;
}
#navcontainer ul li #current { /* sets the link of the active page tab color to be different */
background-color: #000000;
}

#main {
float: left;
width: 100%;
background-color: #802A00;

}

/* adding margin-left will move the UnorderedList inside wrapper */
#main ul {
margin-left:40px;
}
/* float picture left, add margin to keep text away from image, add width */
#pictureL {
width: 300px;
float:left;
margin:10px;
}
/* float picture right, add margin to keep text away from image, add width */
#pictureR {
width: 50%;
float:right;
margin:10px;
}

/* set text color to white, background color to #008080, position to absolute */
/* bottom postion to 0px, and width to 100% */
#footer {
color:#FFF;
background-color: #008080;
bottom: 0px;
width: 100%;
padding-right: 32px; /* fits content to match navcontainer width */
}
/* align the text to center, and margin 0 */
#footer p {
text-align:center;
margin:0;
}
/* sets the anchors in the footer id to be white and no underline */
#footer a {
color:#FFF;
text-decoration:none;
}

#footer a:hover {
color: #000000;
text-decoration:underline;
}