body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
span.hyperlink {
	font-family:ATCElmItalic, sans-serif;
	font-style:italic;
	font-weight:normal;
}
div._idGenPageitem-1 {
	margin:10px auto 10px auto;
	text-align:center;
}
img._idGenPageitem-2 {
	height:227px;
	width:315px;
}
img._idGenPageitem-3 {
	height:300px;
	width:312px;
}
img._idGenPageitem-4 {
	height:323px;
	width:315px;
}
img._idGenPageitem-5 {
	height:333px;
	width:312px;
}
img._idGenPageitem-6 {
	height:420px;
	width:630px;
}
